/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

.sidebar:hover::-webkit-scrollbar,
.rightbar:hover::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}
.content::-webkit-scrollbar {
  display: none;
}
